# Documentation
RFPRED_discussion.docx
~$PRED_discussion.docx

# Data files
full_dataset.csv
parafoveal_data_subj01.csv
rfpred_config.json

# Directories
aws/
aws-cli.zip
aws.zip
bin/
data/
envs/
install_uv.sh
local_plotting/
logs/
notebooks/
rfpred_hpc/
unet_recon/
.scripts/
.funcs/
.classes/